/* Daniel Cavalcanti
Usando Sublime Text 2, Compass e Prepros;
*/
/* line 1, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_article.scss */
#conteudo {
  background: url("../img/fnd-pergaminho.jpg") 0 0 repeat;
  -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3), inset 0 -59px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3), inset 0 -59px 20px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3), inset 0 -59px 20px rgba(0, 0, 0, 0.3); }

/* line 10, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_article.scss */
article h1, .article h1 {
  color: #4a1914;
  font-family: Serif;
  font-size: 22px; }
/* line 16, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_article.scss */
article .fnd-slider, .article .fnd-slider {
  background: transparent url("../img/fnd-slider.png") center top no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 270px; }
/* line 24, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_article.scss */
article .slider-outer, .article .slider-outer {
  position: relative; }
  /* line 26, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_article.scss */
  article .slider-outer .slider, .article .slider-outer .slider {
    position: relative;
    display: block;
    clear: both;
    height: 210px;
    padding: 20px 0; }
/* line 53, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_article.scss */
article .portrait, .article .portrait {
  display: block;
  float: left;
  margin-right: 14px;
  border: 3px solid white;
  -webkit-box-shadow: 0 5px 15px -4px black;
  -moz-box-shadow: 0 5px 15px -4px black;
  box-shadow: 0 5px 15px -4px black; }
  /* line 60, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_article.scss */
  article .portrait:hover, .article .portrait:hover {
    border-color: #ffb500;
    position: relative; }
    /* line 63, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_article.scss */
    article .portrait:hover:after, .article .portrait:hover:after {
      content: ' ';
      display: block;
      width: 215px;
      height: 134px;
      position: absolute;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.3) url("../img/lupa.png") center 50% no-repeat; }
  /* line 77, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_article.scss */
  article .portrait img, .article .portrait img {
    width: 215px; }

/* line 5, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_contador-regressivo.scss */
.contador-regressivo .espacador {
  width: auto;
  float: left;
  padding: 4px 3px;
  height: 40px; }
/* line 12, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_contador-regressivo.scss */
.contador-regressivo .numeros {
  position: relative;
  height: 47px;
  width: 60px;
  float: left; }
  /* line 19, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_contador-regressivo.scss */
  .contador-regressivo .numeros .dec, .contador-regressivo .numeros .uni {
    width: auto;
    float: left;
    font-size: 16px;
    background-color: #efefef;
    padding: 7px 7px 8px 13px;
    background: url("../img/contador-fundo.png") no-repeat; }
  /* line 31, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_contador-regressivo.scss */
  .contador-regressivo .numeros .uni {
    padding: 7px 13px 6px 7px;
    background-position: top right; }
  /* line 37, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_contador-regressivo.scss */
  .contador-regressivo .numeros .info {
    color: #ffb500;
    text-transform: uppercase;
    font-size: 8px;
    position: absolute;
    bottom: 0;
    left: 0; }

/* line 1, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_header.scss */
.topo {
  background: white;
  padding: 17px 0;
  padding-top: 29px;
  -webkit-box-shadow: inset 0 -21px 20px #cccccc;
  -moz-box-shadow: inset 0 -21px 20px #cccccc;
  box-shadow: inset 0 -21px 20px #cccccc;
  border-bottom: 1px solid white; }
  /* line 8, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_header.scss */
  .topo .logo-topo {
    display: block;
    width: 194px;
    height: 30px;
    background: url("../img/logo-topo.png") 0 0 no-repeat transparent;
    text-indent: -99999px; }

/* line 17, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_header.scss */
#header {
  background: url("../img/fundoheader.jpg") top center no-repeat black; }
  /* line 21, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_header.scss */
  #header .promo {
    position: relative;
    height: 237px;
    padding-top: 85px;
    padding-bottom: 85px; }
    /* line 27, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_header.scss */
    #header .promo .lara-e-connor {
      position: absolute;
      top: -75px;
      right: 0;
      width: 619px;
      height: 519px;
      background: url("../img/laraeconnor.png"); }
  /* line 39, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_header.scss */
  #header h1 {
    color: #ffb500;
    font-size: 26px;
    line-height: 1;
    text-transform: uppercase; }
  /* line 46, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_header.scss */
  #header h2 {
    color: white;
    font-size: 39px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 15px; }
  /* line 55, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_header.scss */
  #header h3 {
    color: #ffb500;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase; }

/* line 3, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_footer.scss */
#footer {
  box-sizing: border-box;
  height: 72px;
  padding: 20px;
  background-color: #272727;
  border-top: 1px solid #272727;
  -webkit-box-shadow: inset 0 4px 5px black;
  -moz-box-shadow: inset 0 4px 5px black;
  box-shadow: inset 0 4px 5px black; }
  /* line 12, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_footer.scss */
  #footer .logo-rodape {
    display: block;
    width: 177px;
    height: 30px;
    background: url("../img/logo-rodape.png") 0 0 no-repeat transparent;
    float: left;
    text-indent: -99999px; }
  /* line 22, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_footer.scss */
  #footer .assinatura {
    color: white; }

/* line 4, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_slides.scss */
#slider .slidesjs-navigation {
  background: transparent url("../img/setas.png") 0 0 no-repeat;
  position: absolute;
  top: 120px;
  display: block;
  height: 45px;
  width: 45px;
  text-indent: -9999999px;
  text-indent: -99999px; }
  /* line 14, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_slides.scss */
  #slider .slidesjs-navigation.slidesjs-previous {
    left: -50px;
    background-position: 0 0; }
    /* line 17, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_slides.scss */
    #slider .slidesjs-navigation.slidesjs-previous.inactive, #slider .slidesjs-navigation.slidesjs-previous:hover {
      background-position: 0 -75px; }
  /* line 22, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_slides.scss */
  #slider .slidesjs-navigation.slidesjs-next {
    right: -50px;
    background-position: -70px 0; }
    /* line 25, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_slides.scss */
    #slider .slidesjs-navigation.slidesjs-next.inactive, #slider .slidesjs-navigation.slidesjs-next:hover {
      background-position: -70px -75px; }
/* line 32, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_slides.scss */
#slider .slidesjs-pagination {
  display: none; }

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 5, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

/* line 6, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

/* line 7, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

/* line 8, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxContent {
  position: relative; }

/* line 9, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/* line 10, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxTitle {
  margin: 0; }

/* line 11, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 12, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

/* line 13, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

/* line 14, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0; }

/* line 15, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 22, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxOverlay {
  background: #333333 repeat 0 0; }

/* line 23, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#colorbox {
  outline: 0; }

/* line 24, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxContent {
  background: #fff;
  overflow: hidden;
  padding: 15px; }

/* line 29, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
.cboxIframe {
  background: #fff; }

/* line 30, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

/* line 32, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494; }

/* line 33, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxCurrent {
  position: absolute;
  bottom: 0;
  left: 58px;
  color: #949494; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
/* line 38, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
/* line 41, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

/* line 43, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef; }

/* line 44, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxPrevious {
  text-indent: -99999px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #cccccc;
  content: '<';
  width: 15px;
  height: 15px; }

/* line 53, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxPrevious:hover {
  color: #000000; }

/* line 54, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxNext {
  text-indent: -99999px;
  position: absolute;
  bottom: 0;
  left: 27px;
  color: #cccccc;
  content: '>';
  width: 15px;
  height: 15px; }

/* line 63, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxNext:hover {
  color: #000000; }

/* line 64, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
#cboxClose {
  background-color: #000000;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  line-height: 0.5; }
  /* line 77, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
  #cboxClose:hover {
    color: #cccccc; }

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
/* line 94, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_colorbox.scss */
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); }

/* line 23, ../sass/base.scss */
.btn, .btn:hover {
  background: url("../img/btn.png") no-repeat 0 0 transparent;
  width: 230px;
  height: 20px;
  text-align: center;
  border: none;
  padding: 20px 15px;
  font-size: 19.5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }
  /* line 38, ../sass/base.scss */
  .btn:hover {
    background-position: 0 -63px; }

/* line 44, ../sass/base.scss */
.center {
  text-align: center; }
  /* line 47, ../sass/base.scss */
  .center * {
    text-align: center; }
  /* line 48, ../sass/base.scss */
  .center div {
    margin: 0 auto; }

/* line 3, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_mixins.scss */
#wrapper {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%; }

/* line 10, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_mixins.scss */
#root {
  padding-bottom: 72px; }

/* line 14, C:/Users/Daniel/Documents/GitHub/nuuvem-avaliacao/sass/_mixins.scss */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
